
.atc_dp_portfolio-tags-container
{
	border: 2px dashed lightgrey;
    border-radius: 10px;
    padding: 8px;
}
/* The portfolio tag container for each tax */
.atc_dp_portfolio-tags
{
	text-align: center;
	margin-bottom: 8px !important;
	font-size: 0.9em;

}

.atc_dp_portfolio-tags-title
{
	font-size: 1.5em;
    font-weight: lighter
}

/* The base tag */
.atc_dp_portfolio-tag
{
	background-color: #000;
	color: white;
	padding-left: 9px;
	padding-right: 9px;
	line-height: 20px;
	text-decoration: none;
	font-weight: lighter;
	display: inline-block;
	border-radius: 3px;
	font-size: 0.8em
}

.atc_dp_portfolio-tag-platform
{
	background-color: #000; /*#e63e3e*/;
	font-size: 1.5em;
    line-height: 1.5em;
	/*margin-bottom: 0.4em;*/
}

.atc_dp_portfolio-tag-language
{
	background-color: #3eace6;
}

.atc_dp_portfolio-tag-tools
{
	background-color: #15b72b;
}

.atc_dp_portfolio-tag-projecturl
{
	background-color: #000000;
	margin-bottom: 10px;
}
.atc_dp_portfolio-tag-projecturl:hover
{
	color: #fff;
}
